{% extends 'layout.html' %} {% block body %}

<div class="container">
    <table class="table" stype="border: none;">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Amount seat</th>
                {% for i in seat[0] %}
                <th scope="col">{{i.seat_name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in flights %}
            <tr>
                <th scope="row">
                    <p>
                        <strong>{{i.time_to_start}}</strong> to
                        <strong>{{i.time_end}}</strong>
                    </p>
                    <p>Flight Id: {{i.id}}</p>
                    <p>Plane Id: {{i.plane_id}}</p>
                </th>
                <td>
                    <p>Total time: {{i.total_flight_time}}</p>
                    {% if inter_airport %} {% for d in inter_airport[i.index] %}
                    <p>
                        Delay {{d.intermediate_airport.delay}} at {{
                        d.airport.airport_name }}
                    </p>
                    {% endfor %} {% else %}
                    <p>Non stop</p>
                    {% endif %}
                </td>
                <td>
                    <div class="input-group mb-3">
                        <input
                            type="number"
                            id="count_seat"
                            onchange="check_number_input()"
                            value="1"
                            class="form-control"
                            aria-label="Default"
                            aria-describedby="inputGroup-sizing-default"
                        />
                    </div>
                </td>
                {% for s in seat[i.index] %}
                <td>
                    <button
                        type="button"
                        onclick="addTicket('{{s.seat_name}}',{{i.id}},{{s.id}},{{s.price}},{{i.plane_id}})"
                        class="btn btn-primary"
                    >
                        <h3 class="px-5 py-2">{{s.price}}</h3>
                    </button>
                    <p class="font-italic">{{s.left}} seats left</p>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
