{% extends 'layout.html' %} {% block body %}
<div class="query container card">
    <form class="m-auto" action="" method="post">
        <h2 class="text-center my-2">Fill in the info</h2>
        <div class="text-center">
            {% if mess %}
            <span id="emailHelp" class="badge badge-danger">{{mess}}</span>
            {% endif %}
        </div>
        <div class="container mt-0 d-flex flex-wrap">

            <div class="form-group col-md-12 col-sm-12 ">
                <label for="first-name"><strong>Your full name:</strong></label>
                <input
                    type="text"
                    id="first-name"
                    name="name"
                    class="form-control"
                    placeholder="Enter your name..."
                />
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="email"><strong>Your email:</strong></label>
                <input
                    id="email"
                    type="text"
                    name="email"
                    class="form-control"
                    placeholder="Enter your email..."
                />

            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="email-confirm"><strong>Confirm your email:</strong></label>
                <input
                    id="email-confirm"
                    type="text"
                    name="email-confirm"
                    class="form-control"
                    placeholder="Enter your email..."
                />
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="phone1"><strong>Your phone 1:</strong></label>
                <input
                    id="phone1"
                    type="text"
                    name="phone1"
                    class="form-control"
                    placeholder="Your phone..."
                />
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="phone2"><strong>Your phone 2:</strong></label>
                <input
                    id="phone2"
                    type="text"
                    name="phone2"
                    class="form-control"
                    placeholder="Your phone..."
                />
            </div>
            <div class="btn-submit col-md-12 col-sm-12">
                <input type="submit" value="Xác nhận" class="btn btn-primary w-50" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
