{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <div class="card">
          <img class="card-img-top" src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_602,c_fill,g_auto,h_339,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F190830104546-05-100-best-places-rough-guide.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">Billing and contact details</h5>
            <p class="card-text">
                <form action="{{url_for('login_admin')}}" method="post">
                    <div class="container-billing d-flex flex-wrap">
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" class="form-control" placeholder="Enter email..." />
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="confirm-email">Confirm Email</label>
                            <input type="text" id="confirm-email" name="confirm-email" class="form-control" placeholder="Confirm email..." />
                        </div>
                    </div>
                </form>
            </p>
            <div class="card-btn">
                <input class="btn btn-primary" type="button"  value="Book" />
            </div>
          </div>
        </div>
    </div>
{% endblock %}