{% extends 'layout.html' %} {% block body %}
<div class="login">
    <h1>PAYMENT</h1>
    <h5 class="text-center">Please confirm the ticket</h5>

    {% if mess %}
    <div class="alert alert-danger">{{mess}}</div>
    {% else %}
    <div class="container">
        <div class="card p-3">
            <div id="qrcode" class="float-left">

            </div>
            <div class="row">
                <p class="col-md-6 col-sm-12"><strong>Flight ID:</strong> {{session['ticket'].flight_id}}</p>
                <p class="col-md-6 col-sm-12"><strong>Plane ID:</strong> {{session['ticket'].plane_id}}</p>
                <p class="col-md-6 col-sm-12">
                    <strong>Flight from:</strong> {{session['ticket'].flight_from}}
                </p>
                <p class="col-md-6 col-sm-12"><strong>Flight to:</strong> {{session['ticket'].flight_to}}</p>
            </div>
            <hr class="my-2" >
            <div class="row">
                <p class="col-md-6 col-sm-12"><strong>Type of seat:</strong> {{session['ticket'].seat_name}}</p>
                <p class="col-md-6 col-sm-12"><strong>Amount of seat:</strong> {{session['ticket'].count_seat}}</p>
                <p class="col-md-6 col-sm-12"><strong>Position:</strong> {{session['ticket'].position}}</p>
                <p class="col-md-6 col-sm-12"><strong>Price:</strong> {{session['ticket'].price}}$</p>

            </div>

            <hr class="my-3">
            <div class="text-center">
                <h3 class="pb-2">
                    <strong>Total: </strong>
                    {{session['ticket'].price * session['ticket'].count_seat}}$
                </h3>
            </div>

            <button
                type="button"
                class="btn btn-success"
                onclick="handleCommit('{{session['ticket'].flight_from}}', '{{session['ticket'].flight_to}}',{{session['ticket'].plane_id}},'{{session['ticket'].seat_name}}','{{session['ticket'].payment}}', {{session['ticket'].customer_id}},{{session['ticket'].flight_id}},{{session['ticket'].seat_type_id}},{{session['ticket'].count_seat}},{{session['ticket'].price}},{{session['ticket'].position}})"
            >
                <h4>COMFIRM</h4>
            </button>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %} {% block footer %}
<div></div>
{% endblock %}
