{% extends 'layout.html' %} {% block body %}
<div class="query register">
    <h1>REGISTER</h1>
    <form action="{{ url_for('register')}}" method="post">
        <div class="container">
            <div class="form-group">
                <label for="name">Your name:</label>
                <input
                    class="form-control"
                    id="name"
                    type="text"
                    name="name"
                    placeholder="Enter name..."
                />
            </div>
            <div class="form-group">
                <label for="username">User name:</label>
                <input
                    class="form-control"
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Enter username..."
                />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input
                    class="form-control"
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Enter password..."
                />
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm password:</label>
                <input
                    class="form-control"
                    id="confirm-password"
                    type="password"
                    name="confirm-password"
                    placeholder="Confirm password..."
                />
            </div>
            <div class="form-group">
                <label for="CMND">Card ID</label>
                <input
                    class="form-control"
                    id="CMND"
                    type="text"
                    name="CMND"
                    placeholder="Enter card ID..."
                />
            </div>
            <div class="form-group">
                <label for="SDT">Your phone:</label>
                <input
                    class="form-control"
                    id="SDT"
                    type="text"
                    name="SDT"
                    placeholder="Enter your phone..."
                />
            </div>
            <div class="btn-submit">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </div>
    </form>
    {% if msg_error %}
    <div class="msg-box">
        <h4>{{msg_error}}</h4>
    </div>
    {% endif %}
</div>
{% endblock %}
