{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Report</h1>
    <div>
        <form method="post" action="{{url_for('report')}}">
            <div class="d-flex flex-wrap pb-4">
                <div class="form-group col-md-6">
                    <label for="month">Month: </label>
                    <input
                        type="text"
                        name="month"
                        id="month"
                        class="form-control"
                        placeholder="Enter month"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label for="year">Year:</label>
                    <input
                        autocomplete="true"
                        type="text"
                        name="year"
                        id="year"
                        class="form-control"
                        placeholder="Enter year"
                    />
                </div>
                <div class="btn-submit text-center w-100">
                    <input type="submit" value="Submit" class=" w-25 btn btn-primary" />
                </div>
            </div>

        </form>
    </div>
    {% if info %}
    <div>
        <div class="card text-center">
          <div class="card-header">
            Month:
          </div>

          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Flight ID</th>
                  <th scope="col">Number of tickets</th>
                  <th scope="col">Revenue</th>
                </tr>
              </thead>
              <tbody>
            {% for i in info %}
                <tr>
                  <td>{{i.scheduled.flight_id}}</td>
                  <td>{{'{:.0f}'.format(i.sum_ticket)}} tickets</td>
                  <td>{{i.sum_price}}</td>
                </tr>
            {% endfor %}
              </tbody>
            </table>

<!--          <div class="card-footer text-muted">-->
<!--            2 days ago-->
<!--          </div>-->
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block footer %}
<div></div>
{% endblock %}