body {
    height: 100%;
    width: 100%;
}

.imgStater {
    position: relative;
    width: 100%;
}
.imgStater img {
    width: 100%;
}
.cards {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.cards .card {
    margin: 10px;
}
.page-footer {
    color: white;
    background-color: #646E78;
}
.info {
    color: white;
    padding: 10px;
    text-align: center;
    background-color: #8D98A7;
}
.info h1 {
    font-size: 32px;
}
.info h3 {
    font-size: 16px
}
.banner{
    /* background: linear-gradient(180deg, rgb(255 255 255) 0%, rgb(0 0 0 / 0%) 90%, rgb(0 0 0 / 100%) 100%), url(https://images2.minutemediacdn.com/image/upload/c_crop,h_1189,w_2119,x_0,y_13/f_auto,q_auto,w_1100/v1554929260/shape/mentalfloss/538764-istock-898619710.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.carousel-item{
    background: linear-gradient(180deg, rgb(255 255 255) 0%, rgb(0 0 0 / 0%) 90%, rgb(0 0 0 / 100%) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 90vh; */
    overflow: hidden;
}
.navbar{
    min-height: 10vh;
}
.info{
    height: 12%;
}
.slide{
    height: 88%;
    overflow: hidden;
}